<ion-view title="GRT-Detail">
	<ion-header-bar class="bar-positive" align-title="center">
		<button class="button button-icon icon ion-android-arrow-back" ng-click="returnBack()"></button>
		<div class="h1 title">课程预约</div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
				<div class="col col-50" ">
					<button  class="button button-clear button-positive">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当日课程</button>
				</div>
				<div class="col">
						<button class="button button-clear button-positive" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本周课程</button>
				</div>
		</div>
	</ion-content>
</ion-view>
