<ion-view title="GRT-Detail">
	<ion-header-bar class="bar-positive" align-title="center">
		<button class="button button-icon icon ion-android-arrow-back" ng-click="returnBack()"></button>
		<div class="h1 title">后台管理</div>
	</ion-header-bar>
  <ion-pane>
      <div style="height:43px"></div>
      <div class="box">
          <div class="top">
              <div class="left flex-b" style="background-color: rgba(251,148,11,0.9);">
                  <button class="button button-icon button-large icon ion-ios-alarm-outline sudoku-btn flex-b-item" ng-click="func_subs()">
                      <p>课程管理</p>
                  </button>
              </div>
              <div class="right flex-b" style="background-color: rgba(190,119,179,1);">
                  <button class="button button-icon button-large icon ion-social-designernews sudoku-btn flex-b-item" ng-click="func_GR()">
                      <p>老师管理</p>
                  </button>
              </div>
          </div>
          <div class="middle">
              <div class="left flex-b" style="background-color: rgba(77,204,245,1);">
                  <button class="button button-icon button-large icon ion-ios-box sudoku-btn flex-b-item" ng-click="func_Putaway()">
                      <p>发布预约</p>
                  </button>
              </div>
              <div class="right flex-b" style="background-color: rgba(244,100,109,1);">
                  <button class="button button-icon button-large icon ion-images sudoku-btn flex-b-item" ng-click="func_GT()">
                      <p>哈哈</p>
                  </button>
              </div>
          </div>




      </div>
  </ion-pane>
</ion-view>
