<ion-view title="Main">
    <ion-nav-buttons >
        <button class="button  button-icon icon ion-ios-person-outline" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!-- <button class="button icon-left  button-positive" ng-click="func_Enquiry()">登录</button>
        <button class="button icon-left  button-positive" ng-click="">/</button>
        <button class="button icon-right   button-positive" ng-click="func_GR()">注册</button> -->
    </ion-nav-buttons>
    <ion-nav-title>
    </ion-nav-title>
    <ion-pane>
        <!-- <div style="height:30px"></div> -->
        <div class="box">
            <div class="top" style="height:150px">
                <!-- start 轮播图-->
                <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
                    <ion-slide>
                        <div>
                            <img src="./img/1333.png" width="350px;" height="150px;">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div>
                            <img src="./img/yoga1.png" width="350px;" height="150px;">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div>
                            <img src="./img/yoga3.png" width="350px;" height="150px;">
                        </div>
                    </ion-slide>
                </ion-slide-box>
                <!-- end 轮播图-->

                <!-- <div class="left flex-b" style="background-color: rgba(251,148,11,0.9);">
                    <button class="button button-icon button-large icon ion-home sudoku-btn flex-b-item" ng-click="func_Enquiry()">
                        <p>登录</p>
                    </button>
                </div>
                <div class="right flex-b" style="background-color: rgba(190,119,179,1);">
                    <button class="button button-icon button-large icon ion-ios-personadd sudoku-btn flex-b-item" ng-click="func_GR()">
                        <p>注册</p>
                    </button>
                </div> -->
            </div>
            <div class="middle">
                <div class="left flex-b" style="background-color: rgba(77,204,245,1);">
                    <button class="button button-icon button-large icon ion-ios-body sudoku-btn flex-b-item" ng-click="func_Putaway()">
                        <p>约课</p>
                    </button>
                </div>
                <div class="right flex-b" style="background-color: rgba(244,100,109,1);">
                    <button class="button button-icon button-large icon ion-android-walk sudoku-btn flex-b-item" ng-click="func_GT()">
                        <p>跑课</p>

                    </button>
                </div>
            </div>
            <div class="bottom">
                <div class="left flex-b" style="background-color: rgba(88,209,44,1);">
                    <button class="button button-icon button-large icon ion-document-text sudoku-btn flex-b-item" ng-click="func_Picking()">
                        <p>瑜伽心语</p>

                    </button>
                </div>
                <div class="right flex-b" style="background-color: rgba(29,120,252,0.9);">
                    <button class="button button-icon button-large icon ion-chatbubble-working sudoku-btn flex-b-item" ng-click="func_Vgin()">
                        <p>瑜伽快讯</p>

                    </button>
                </div>
            </div>
            <div class="bottom" style="height:100px">
                <!-- <div class="left flex-b" style="background-color: rgba(20,80,252,0.9);">
                    <button class="button button-icon button-large  icon ion-android-more-horizontal sudoku-btn flex-b-item" ng-click="func_CycleCount()">
                        <p>期待更多......</p>
                    </button>
                </div> -->
            </div> -
        </div>
    </ion-pane>

    <ion-tabs class="tabs-icon-top ">

        <!-- <ion-tabs class="tabs-positive tabs-icon-only"> -->
        <!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive" > -->
        <ion-tab title="首页" icon-on="ion-ios-home-outline" icon-off="ion-ios-home-outline">
            <!-- 标签 1 内容 -->
            首页
        </ion-tab>

        <ion-tab title="附近" icon-on="ion-ios-location-outline" icon-off="ion-ios-location-outline">
            <!-- 标签 2 内容 -->
            附近的瑜伽馆
        </ion-tab>

        <ion-tab title="瑜乐圈" icon-on="ion-ios-plus" icon-off="ion-ios-plus">
            <!-- 标签 3 内容 -->
            瑜乐圈
        </ion-tab>

        <ion-tab title="瑜课堂" icon-on="ion-ios-book-outline" icon-off="ion-ios-book-outline">
            <!-- 标签 4 内容 -->
            视频教学
        </ion-tab>
        <ion-tab title="信息" icon-on="ion-ios-volume-high" icon-off="ion-ios-volume-high">
            <!-- 标签 5 内容 -->

        </ion-tab>
    </ion-tabs>

    </body>
</ion-view>
